.allBios {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.bioPic {
  border-radius: 50%;
  float: left;
  shape-outside: circle;
  height: 150px;
  margin: 5px;
}

.gameBio {
  margin: 30px 60px;
  height: 380px;
  overflow: auto;
  border: 1px solid black;
  padding: 20px 40px;
  width: 500px;
}


.personalBio {
  width:400px;
  background-color: blanchedalmond;
  margin: 30px 5px;
  height: 300px;
  overflow: auto;
  border: 1px solid black;
}

.personalBio > p {
  padding: 10px;
}

.bioBlock {
  margin-top:110px;
}
