.allBios {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.personalBio {
  width:350px;
  background-color: blanchedalmond;
}

.bioPic {
  border-radius: 50%;
  float: left;
  shape-outside: circle;
  height: 150px;
  margin: 5px;
}
