* {
  font-family: 'Fira Mono', monospace;
}

main {
  display: flex;
  flex-direction: column;
}
#dialogueTrayDiv {
  height: 150px;
  overflow: auto;
  margin-left: 10px;
  width:280px;
}

#dialogueTrayDiv > ul > li  {
  background-color: rgba(255, 255, 255, 0.8);
  padding:5px;
  margin-bottom: 5px;
}


#dialogueTrayDiv > ul > li > h3 {
  font-size: 22px;
}

#dialogueTrayDiv > ul > li > p {
  background-color: rgba(255, 255, 255, 0.8);

  margin-top: 8px;
}

.battlePositionsContainer {
  display: flex;
  flex-direction: column;
}

.healthBarOuter{
  margin-bottom: 20px;
  z-index: 1;
  width: 160px;
  height: 20px;
  background-color: blanchedalmond;
}

.healthBarInner{
  background-color: red;
  height:20px;
}

#enemyBattlePosition > img, #userBattlePosition > img {
  height: 160px;
}

#userBattlePosition > img {
  transform: scaleX(-1);
}

.startingEnemy {
  animation: onScreenEnemy 3s 1;
}

.startingUser {
  animation: onScreenUser 3s 1;

}

@keyframes onScreenUser {
  0% {transform: translate(-200px, 0);}
  100% {transform: translate(0, 0);}
}

@keyframes onScreenEnemy {
  0% {transform: translate(200px, 0);}
  100% {transform: translate(0, 0);}
}

#abilityTrayDiv > ul {
  display: flex;
}

#abilityTrayDiv > ul > li {
  border: 1px solid black;
  font-size: 20px;
  /* font-weight: bold; */
  padding: 20px 20px;
  margin: 10px 5px;
  background-color: rgba(255, 255, 255, 0.8)
}

#abilitiesAndDialogue {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px 0px 20px;
}


/* this was adapted from w3 schools how to shake and image */
.animShake {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#gameScreen {
  height: 480px;
  width: 640px;
  border: 1px solid black;
  background-image: url('../assets/arena.png');
}

#battlePositions {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  margin-left: 50px;
  margin-right: 50px;
  /* margin-bottom: 10px; */
}

.directions {
  font-size: 20px;
  margin-top: 20px;
  background-color:rgba(255, 255, 255, 0.8);
  width: fit-content;
  margin-right:auto;
  margin-left:auto;
  padding: 5px 10px;
}

#abilityUlEl {
  font-size: 20px;
}

#endGameButtons {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 80px;
}

button {
  margin:10px;
}

.gameAndCovers {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.spriteCover {
  height: 480px;
  width: 170px;
  background-color: rgba(116, 37, 37, 1);
  z-index: 1;
}


#audio {
  margin-right: 0;
  margin-left: 94%;
  margin-top: 20px;
  float: left;
}

#gameStartButton {
  margin-left:35%;
  margin-right:auto;
}


#audioIsNotPlaying {
  background-color:red;
  width:fit-content;
  margin-right: 0;
  margin-left: 94%;
  margin-top: 20px;
  float: left;
}

.healthNumber{
  float:left;
  background-color:rgba(255, 255, 255, 0);
  margin-left: 45px;
  font-weight: bold;
  font-family: sans-serif;
  font-size:20px;
}

.monsterStats {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
#userMonsterInfo {
  margin-left: 100px;
}

#enemyMonsterInfo {
  margin-left: 100px;
  margin-right:100px;
}

.monsterInfoandImg {
  display: flex;
  flex-direction: row;
  padding: 15px;
  height:100px;
}

.monsterInfoandImg > p {
  line-height: 5px;
}

.monsterInfo > h2{
  border: 1px solid black;
  border-radius: 0px;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
  background-color: rgb(34, 31, 31, 0.8);
  color: gray;
  border-radius: 5px;
}


.monsterAbilities > li {
  border: 1px solid black;
  padding:10px 20px;
  margin-top:5px;
  background-color: rgb(34, 31, 31, 0.8);
  color: gray;

}

.picTray {
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  width: fit-content;
  background-color: rgba(128, 128, 128, 0.582);
}

.picTray > img{
  margin-right: 10px;
}

.monsterStats {
  display: flex;
  color: gray;
}
.monsterStats > li {
  margin-top: 5px;
  background-color: rgb(34, 31, 31, 0.8);
  padding: 5px;
  margin-right: 5px;
}

#endGameButtons > h1 {
  margin: 0px auto 20px auto;
  background-color: rgb(34, 31, 31, 0.8);
  color: gray;
  width: fit-content;
  font-family: 'Fira Mono', monospace;
  font-size: 20px;
  padding: 5px 10px;
  font-weight: bold;
}