.monContainer {
  border: 1px solid black;
  text-align: center;
}


.monsterDescription {
  padding: 5px;
  border: 1px solid black;
  border-radius:0px;
  margin: 10px 10px 10px;
  overflow: auto;
  height:140px;
}

.monsterInfoandImg {
  display: flex;
  flex-direction: row;
  padding: 15px;
  height:100px;
}

.monsterInfoandImg > p {
  line-height: 5px;
}


.monsterInfo > h2{
  border: 1px solid black;
  border-radius: 0px;
}

.monsterInfo > h2, .picTray {
  text-align: center;
}

.monsterInfo > h2 {
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.monsterStats {
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 0px;
  padding: 5px;
  text-align: center;
}

.monsterDataSection {
  display:flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width:950px;
  margin-left: auto;
  margin-right:auto;
}

.monsterDataSection > section {
  margin-left:auto;
  margin-right:auto;
  background-color:blanchedalmond;
  width: 800px;
  height: fit-content;
  margin-top: 20px;
}
.monsterDataSection > section:nth-child(2){
  clear:right;
}
.picTray {
  border: 1px solid black;
}

.monsterStats {
  font-family: 'Fira Mono', monospace;
  line-height: 20px;
}

.picTray > img {
  height:100px;
  width:100px;
}

.abilityName {
  background-color: rgb(34, 31, 31, 0.8);
  color:gray;
  padding: 10px 20px;
  font-family: 'Fira Mono', monospace;
  font-size: large;
  border-radius: 0px;
  margin: auto;
  text-align: center;
  height: fit-content;
}

.abilityNameAndDesc {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 100px;
  width: 400px;
  justify-content: space-between;
  height: 200px;
}

.abilityDescription {
  margin: 15px;
  background-color: rgb(34, 31, 31, 0.8);
  color: gray;
}

.abilityEffectList {
  background-color: rgb(34, 31, 31, 0.8);
  color: gray;
  display:block;
  list-style-type: square;
  list-style-position: inside;
  margin: 0px 40px;
  padding: 5px 15px;
  font-size: 15px;
  font-family: 'Fira Mono', monospace;
}

.abilityEffectList > li {
  margin-top: 5px;
  line-height: 17px;
}

.monsterAbilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

