* {
/* outline: 1px red dashed;
box-sizing: border-box; */
    border-radius: 10px;
}

body {
margin: 5% 30px;
}

header{
display: flex;
justify-content: space-between;
border: 1px solid black;
padding: 10px;  
width:auto;
}

header > h1 {
font-family: 'Press Start 2P', cursive;
font-size: 20px;
margin: auto 20px;
}

main {
margin-top: 30px;
display: flex;
justify-content: space-between;
}

main > p {
margin: 30px 80px;
height: 380px;
overflow: auto;
border: 1px solid black;
padding: 20px 40px;
}

footer {
display: flex;
justify-content: space-between;
}

footer > p {
margin: 30px 5px;
height: 300px;
overflow: auto;
border: 1px solid black;
padding: 10px;
}

/* #gameScreen {
margin: 0px 30px;
width: 81.5%;
height:720px;
} */

.dataTray {
height: 90px;
}


/* INDEX PAGE ONLY BELOW */

.buttons {
display: flex;
flex-direction: column;
margin: 80px 0px;

}

#resetButton {
margin-top: 20px;
}

.monsterInfoandImg {
display: flex;
flex-direction: row;
/* border: 1px solid black; */
padding: 15px;
}

.monsterInfo {
margin-left: 10px;
}

.monsterInfo > h2{
border: 1px solid black;
border-radius: 0px;
}

.monsterInfo > p {
border: 1px solid black;
border-radius: 0px;
margin-top: 30px;
}

#userMonsterImg {
height: 80px;
width: 80px;
}

#userMonsterProfile {
border: 1px solid black;
width: 250px;
height: 250px
}

#userMonsterDescription {
padding: 5px;
border: 1px solid black;
border-radius:0px;
margin: 0px 10px 10px;
overflow: auto;
height:95px;
}


/* this was adapted from w3 schools how to shake and image */
#shakeyImg {
    animation: shake 1s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#gameScreen {
    height: 480px;
    width: 640px;
    border: 1px solid black;
}

/* #enemyBattlePosition {
    margin-top: 25px;
    margin-left: 500px;
} */

#battlePositions {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
}


#userMonsterName, #picTray {
    text-align: center;
    border-radius: 0px;
}

#monsterStats {
    border: 1px solid black;
    /* background-color: bisque; */
    margin-top: 20px;
    border-radius: 0px;
    padding: 5px;
    text-align: center;
}

#picTray {
    border: 1px solid black;
}

#abilitiesAndDialogue {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    margin-left:10px;
    margin-right: 10px;
}