
* {
    /* outline: 1px red dashed;
    box-sizing: border-box; */
    border-radius: 10px;
    /* font-family: 'Fira Mono', monospace; */
}

body {
    margin: 5% 30px;
    background-color: rgba(116, 37, 37, 1);
}

p {
    line-height: 25px;
    font-family: 'Fira Mono', monospace;
}


header{
    border: 1px solid black;
    padding: 10px;  
    width:250px;
    margin-left: auto;
    margin-right: auto;
}

header > h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin: auto 20px;
}

main {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


.spriteTray {
    display: flex;
    flex-direction: column;
}

#spriteTrayL {
    margin-left: auto;
    margin-right: 60px;
}

#spriteTrayR {
    margin-right: auto;
    margin-left: 60px;
}


.spriteTray > img {
    width: 90px;
    height: 90px;
    height:100px;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

header, .spriteTray > img, #userMonsterProfile, p {
    background-color: blanchedalmond;
}

#logo {
    margin-left:20px;

}

button {
    padding:10px;
    background-color: rgb(34, 31, 31, 0.8);
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    color: gray
}
  
button:hover {
    background-color: blue;
}

nav {
    background-color: rgb(34, 31, 31, 0.8);
    color: gray;
    width: fit-content;
    padding: 5px;
    font-size: 20px;
    float:right;

}

.howToList {
    background-color: blanchedalmond;
    list-style-type: square;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
}

.howToList > li {
    margin-top: 30px;
    line-height: 30px;
    font-family: 'Fira Mono', monospace;
    font-size: 20px
}

.howToHead {
    text-align: center;
    font-size: 25px;
    background-color: rgb(34, 31, 31, 0.8);
    color: gray;
    margin-bottom: 20px;
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
    padding: 10px 10px;
}

.howToPHead {
    font-size: 30px;
    margin-top: 10px;
}

.howTo {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* .spritesHT {
    margin-top: 60px;
} */

.howToAdvanced {
    margin-top:20px;
}

.backHomeButton {
    margin-right: 40%;
    margin-left: 45%;
    margin-top: 30px;
}


/* Play with this, make cool scrollbars, taken from : https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
    width: 12.5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(34, 31, 31, 0.8);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

